{% extends 'base.html'%}
{% import 'macros.html' as macro %}





    {% block content%}
    <div class="row">
        
        <div class="col-md-2" style="color: red;">
            <h2>Sources</h2>
            {{ macro.displaySources(my_sources)}}
        </div>
        <div class="col-md-10" >
         <div class="row" >
             <h1 style="text-align:center;">Technology News</h1>
            {{macro.displayArticles(technology)}}
         </div>
        </div>
    </div>




    {% endblock %}