<nav class="navbar navbar-expand-lg navbar-light " style="background-color:black;color:darkorange">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: red;font-style: italic;">PASHA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="justify-content: space-around;">
        <div class="navbar-nav nav-right">
        <a class="nav-link active" aria-current="page" href="/" style="color:red;font-size: medium;">Home</a>
        <a class="nav-link" href="/sports" style="color:red;font-size: medium;">Sports</a>
        <a class="nav-link" href="/entertainment" style="color:red;font-size: medium;">Entertainment</a>
        <a class="nav-link" href="/health" style="color:red;font-size: medium;">Health</a>
        </div>
       
      </div>
    </div>
  </div>
</nav>